<mdb-card>
  <mdb-card-header>Users</mdb-card-header>
  <ul class="list-group">
    <a [routerLink]="['/settings/user', eventHost[0].userId]">
      <li class="list-group-item">
        <img
          src="{{ eventHost[0].photoUrl }}"
          alt=""
          class="mr-2 mt-2 rounded-circle img35"
        />&nbsp;&nbsp;{{ eventHost[0].userName | titlecase }}&nbsp;&nbsp;<mdb-badge
          color="indigo"
          >Host</mdb-badge
        >
      </li>
    </a>

    <ng-container *ngFor="let eventUser of eventUsers">
      <a [routerLink]="['/settings/user', eventUser.userId]">
        <li class="list-group-item">
          <img
            src="{{ eventUser.photoUrl }}"
            alt=""
            class="mr-2 mt-2 rounded-circle img35"
          />&nbsp;&nbsp;{{ eventUser.userName | titlecase }}
        </li>
      </a>
    </ng-container>
  </ul>
</mdb-card>
